.image-div {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
}

.wrapper-2x1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
